extends layout

block content
  .jumbotron
    h1.display-4 Oops! Page not found
    p.lead 
      | Error: 
      | #{error.status}
    hr.my-4
    p
      | #{error.stack}
    p
      | We are sorry but the page you requested was not found
