extends layout

block variables
  - var title = "Home"
  - hideSearchBar = false

block content
  .jumbotron
    h1 Hojichai Games
    p.lead
      | A collection of single player and multiplayer VR games to keep you entertained
  include ./mixins/#card
  .row(id='gameCards')
    //- ($idval, $icon, $alticon, $title, $info, $numberOfPlayers, $multiplayerAvailable=false)
    +card('reactionGame',
          'https://via.placeholder.com/150',
          'Reaction Game Image',
          'Reaction Game',
          'Test your reactions by....',
          6,
          true)
    +card('handPong',
          'https://via.placeholder.com/150',
          'Hand Pong Image',
          'Hand Pong',
          'POlaye djfhd',
          2,
          true)
    +card('id3','https://via.placeholder.com/150', 'croc-img', 'Dwarf sdCrocodile', 'long ass info Osteolaemus tetraspis','#', 5,true)
    +card('id4','https://via.placeholder.com/150', 'croc-img', 'Dwarf sdCrocodile', 'long ass info Osteolaemus tetraspis','#')
    +card('id5','https://via.placeholder.com/150', 'croc-img', 'Dwarf sdCrocodile', 'long ass info Osteolaemus tetraspis','#')
  
  include ./components/multiplayerModal

//-   .row
//-     .offset-sm-2.col-sm-8
//-       .jumbotron.text-center.
//-         Welcome to your new Express app! Please visit the
//-         #[a(href="https://github.com/rdegges/okta-express-login-portal", title="okkta-express-login-portal on GitHub") GitHub page] to learn more.