extend ../layout

block content
    h1 hand pong single player s

block scripts
    script(src="https://unpkg.com/@tensorflow/tfjs")
    script(src="https://unpkg.com/@tensorflow-models/posenet")
    script(src='/javascripts/poseestimator.js')