body {
  padding-top: 100px;
  padding-bottom: 100px;
}

.btn-group-vertical > button{
  margin-bottom:10px;
  border-radius:10px !important;
}

.btn-group-vertical > a{
  margin-bottom:10px;
  border-radius:10px !important;
}

.btn-group-horizontal > button{
  margin-left:10px;
  margin-right:10px;
  border-radius:10px !important;
}

.game-button {
  width: 100px;
}

#home{
  text-align: center;
}

#tabContent{
  padding-top: 20px;
}

#inputScreenNameHelp{
  padding-bottom: 10px;
}


#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#filler {
  height: 75vh;
  width: 100vw;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}


#displayDiv {
  display: none;
  text-align: center;
}

.canvasbox {
  border-radius: 3px;
  width: calc(80vh * 450 / 338);
  height: 80vh;
  background: #333;
}

